.skill-bars{
    padding: 25px 30px;
    width: 90%;
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
    color:#3646e5;
    font-family: 'Poppins', 'Sans Serif';
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #3646e5;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 80%;
  }
  .bar .progress-line.js span{
    width: 70%;
  }
  .bar .progress-line.react span{
    width: 70%;
  }
  .bar .progress-line.csharp span{
    width: 65%;
  }
  .bar .progress-line.xamarin span{
    width: 60%;
  }
  .bar .progress-line.wordpress span{
    width: 60%;
  }
  .bar .progress-line.php span{
    width: 70%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #3646e5;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #3646e5;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }


  .bar .progress-line.html span::after{
    content: "80%";
  }
  .bar .progress-line.js span::after{
    content: "70%";
  }
  .bar .progress-line.react span::after{
    content: "70%";
  }
  .bar .progress-line.csharp span::after{
    content: "65%";
  }
  .bar .progress-line.xamarin span::after{
    content: "60%";
  }
  .bar .progress-line.wordpress span::after{
    content: "60%";
  }
  .bar .progress-line.php span::after{
    content: "70%";
  }